*{
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #212121;
    display: flex;
    justify-content: center;
}

main{
    background-color: #FFFFFF;
    border-radius: 20px;
    width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

main h1{
    font-size: 2.5rem;
}

main h2{
    font-size: 1.9rem;
}

main .img-capa{
    margin-bottom: 20px;
    border-radius: 12px;
}

main p{
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.section-characters{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    margin-left: 40px;
    width: 300px;
    border-radius: 20px;
    height: 400px;
    max-height: 1000px;
}

.section-characters h2{
    font-size: 1.9rem;
}

.section-characters table tr th{
    padding: 10px;
}

.section-characters table tr th a img{
    border-radius: 50%;
    transition: transform .5s;
}

.section-characters table tr th a img:hover{
    transform: scale(1.2);
}

